body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .bg-image {
    background-image: url('American-Airlines-Logo.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  